*{margin: 0;padding: 0}
.top{
    text-align: center;
}
.about{
    height:60px;
    display: block;
    width:100px;
    background: #01AEF0;
    text-align: center;
    color:#fff;
    text-decoration: none;
}
.navbar{
    line-height: 60px;
    height: 60px;
    background: #A2DBF9;
}
.navbar-wrap{
    width:1200px;
    height:60px;
    margin-left: auto;
    margin-right: auto;
}
.container{
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}
.container p{
    text-indent: 20px;
}
.footer{
    text-align: center;
    background-color: #A2DBF9;
    
    
}
a{
    text-decoration-color: #A2DBF9;
}